// padrões iniciais
html {
  font-family: $font-default;
  font-size: 10px;
  overflow-x: hidden;
}
body {
  font-family: $font-default;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  color: $dark;
  // largura máxima para telas full HD
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// tira o focus de todos os elementos
*:focus {
  outline: none;
}

strong {
  font-style: normal;
  font-weight: 600;
}

/*
=====================================================
Small devices (landscape phones, 576px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/
@include media-breakpoint-up(sm) {
}
// 576px

/*
=====================================================
Medium devices (tablets, 768px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/
@include media-breakpoint-up(md) {
}
// 768px

/*
=====================================================
Large devices (desktops, 992px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/
@include media-breakpoint-up(lg) {
}
// 991px

/*
=====================================================
Extra large devices (large desktops, 1200px and up)
Read more: https://getbootstrap.com/docs/4.6/layout/overview/#responsive-breakpoints
=====================================================
*/
@include media-breakpoint-up(xl) {
}
// 1200px
